apiVersion: v1
kind: Pod
metadata:
  name: app-pod

spec:
  containers:
    - name: app
      image: nginx
      env: 
        - name: ENV
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: ENV

        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-secret
              key: password

